<!DOCTYPE html>
<html>
  <body>
    <script>

      function findPanorama(svService, panoRequest, evalUnitCoord) {
        // Send a request to the panorama service
        svService.getPanorama(panoRequest, function(panoData, status) {

            console.log(`Status ${status}: panorama found.`);
            console.log(JSON.stringify(panoData, null, 2));
            
            const heading = google.maps.geometry.spherical.computeHeading(panoData.location.latLng, evalUnitCoord);

            const firstPanoId = panoData.location.pano; 

            const panoHeadings = {}
            panoHeadings[firstPanoId] = heading;


            // Allow max 3 links
            let max_links = 3
            let num_links = 0
            // for each link, calculate the heading and store in the map
            for (const [link_id, link_coords] of Object.entries(panoData['MB'])) {
              if (link_id !== firstPanoId) {
                panoHeadings[link_id] = google.maps.geometry.spherical.computeHeading(link_coords, evalUnitCoord);
                num_links += 1
                if (num_links >= max_links) {
                  break;
                }
              }
            }

            const data = {
              panoHeadings: panoHeadings,
            }

            fetch("{{ url_for('get_panos') }}", {
              method: "POST",
              mode: "same-origin", 
              cache: "no-cache", 
              credentials: "same-origin", 
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data), 
            }).then(
              response => {
                if (response.redirected) {
                  window.location = response.url
                }
              }
            )

        });
      }

      function initMap() {

        let panoRequest,
            evalUnitCoord;
        
        const svService = new google.maps.StreetViewService();
        
        evalUnitCoord = { 
          lat: parseFloat("{{ lat }}"),
          lng: parseFloat("{{ lng }}"),
        };

        panoRequest = {
            pano: "{{ pano_id }}"
        };

        findPanorama(svService, panoRequest, evalUnitCoord);
      }

      window.initMap = initMap;
    </script>

    <script async src="https://maps.googleapis.com/maps/api/js?key={{key}}&libraries=geometry&callback=initMap&v=3.53"></script>

    <div class="centered">
      <div id="streetview"></div>
      <div id="other-panos"></div>
    </div>
    <style>
      .centered {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 25%;
        left: 25%;
        height: 100%;
      }
      #streetview {
        height: 600px;
        width: 800px;
      }
      #other-panos {
        margin-left: 25px;
        overflow-y: scroll;
      }
    </style>
  </body>
</html>